body {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    overflow: hidden
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    font-family: Alata, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}