.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 60px !important;
}

.footing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    margin-top: 35px;
}

.fg {
    padding-top: calc(60px + 35px) !important;
    height: calc(100vh - 60px - 35px) !important;
}

@media only screen and (max-width: 600px) {
    .navbar, .footing {
        flex-direction: column !important;
    }

    .navbar {
        min-height: 100px !important;
        padding-top: 15px;
    }

    .navbarEntries {
        flex-direction: column !important;
    }

    .footing {
        min-height: 100px !important;
        padding-bottom: 15px;
    }

    .fg {
        padding-top: calc(100px + 35px + 15px) !important;
        height: calc(100vh - 100px - 35px - 15px) !important;
    }

    .navbar > *, .footing > * {
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
    }

    .navbar > .splitter-vertical, .footing > .splitter-vertical {
        transform: rotate(90deg);
        opacity: 0;
        display: none !important
    }
}