#nav-left, #nav-right {
    height: 100%
}

.footing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    margin-top: 35px;
}

.fg {
    padding-top: 35px !important;

    height: calc(100vh - 60px - 35px - 20px) !important;
    top: 80px !important;
    
    transition-property: top, height;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1.06, 0.06, 1.01);
}

.fg-scrolled {
    height: calc(100vh - 60px - 35px) !important;
    top: 60px !important;

    transition-property: top, height;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1.06, 0.06, 1.01);
}

.navbar-root {
    padding: 10px 25px;
    background-color: rgba(8, 8, 8, 0.5);
    box-shadow: 0 0px 0px rgb(0 0 0 / 0.2);

    transition-property: padding, background-color, box-shadow;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1.06, 0.06, 1.01);
}

.navbar-solid {
    padding: 0px 20px;
    background-color: rgb(8, 8, 8);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    transition-property: padding, background-color, box-shadow;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1.06, 0.06, 1.01);
}

@media only screen and (max-width: 600px) {
    .navbar, .footing {
        flex-direction: column !important;
    }

    .navbar #inner-nav {
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
    }

    #nav-left, #nav-right {
        display: flex !important;
        flex-direction: row !important;
        flex-grow: 1 !important;
        width: 100% !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
    }

    #nav-left > h1, #nav-right > h1,
    #nav-left > h2, #nav-right > h2,
    #nav-left > h3, #nav-right > h3,
    #nav-left > h4, #nav-right > h4,
    #nav-left > h5, #nav-right > h5,
    #nav-left > h6, #nav-right > h6 {
        display: none !important;
    }

    #nav-left *, #nav-right * {
        margin: 0 !important;
        padding: 0 !important;
    }

    #nav-left > *, #nav-right > * {
        /*width: 100% !important;*/
        height: calc(100% + 14px) !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar {
        padding: 7px 0px;
    }

    .navbarEntries {
        flex-direction: column-reverse !important;
    }

    .footing {
        min-height: 100px !important;
        padding-bottom: 15px;
    }

    .navbar > *, .footing > * {
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
    }

    .navbar > .splitter-vertical, .footing > .splitter-vertical {
        transform: rotate(90deg);
        opacity: 0;
        display: none !important
    }

    .fg {
        padding-top: calc(35px + 15px) !important;

        height: calc(100vh - 100px - 50px) !important;
        top: 100px !important;

        transition-property: top, height;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0, 1.06, 0.06, 1.01);
    }
    
    .fg-scrolled {
        height: calc(100vh - 100px - 24px) !important;
        top: 74px !important;

        transition-property: top, height;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0, 1.06, 0.06, 1.01);
    }
    
    .navbar-root {
        padding: 13px 0px;
        min-height: 100px;
    
        transition-property: min-height, padding;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0, 1.06, 0.06, 1.01);
    }
    
    .navbar-root #nav-left > *, .navbar-root #nav-right > * {
        transform: scale(1.4);
    
        transition: transform 1s cubic-bezier(0, 1.06, 0.06, 1.01);
    }
    
    .navbar-solid {
        padding: 0px 0px;
        min-height: 74px;
    
        transition-property: min-height, padding;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0, 1.06, 0.06, 1.01);
    }
    
    .navbar-solid #nav-left > *, .navbar-solid #nav-right > * {
        transform: scale(1.03);
    
        transition: transform 1s cubic-bezier(0, 1.06, 0.06, 1.01);
    }
}